---
layout: layouts/base.liquid
---

<div class="about-page">
    <img class="avatar" src="/src/images/avatar.jpg" alt="Illustration of Stefánia" />
    <p>Hey there, I'm Stefánia, your go-to freelance illustrator from Hungary! 🎨</p>
    <p>I'm all about crafting cute and whimsical illustrations that bring joy to your day.
        Cats and coffee are my ultimate muses, adding that extra sprinkle of charm to my creations.
        Join me in exploring a world where every stroke of my brush tells a story of happiness and magic.</p>
</div>