---
layout: layouts/base.liquid
---

<h2 class="subtitle">About</h2>
<p>Hey there, I'm Stefánia, your go-to freelance illustrator from Hungary! 🎨</p>
<p>I'm all about crafting cute and whimsical illustrations that bring joy to your day.
    Cats and coffee are my ultimate muses, adding that extra sprinkle of charm to my creations.
    Join me in exploring a world where every stroke of my brush tells a story of happiness and magic.</p>

    <ul class="collage">
        <li>
            <img src="/src/images/1.jpg" alt="" />
            <p class="image-description">Hi, this is me on the photo!</p>
        </li>
        <li>
            <img src="/src/images/2.jpg" alt="" />
            <p class="image-description">This is my little art corner</p>
        </li>
        <li>
            <img src="/src/images/3.jpg" alt="" />
            <p class="image-description">Our lovely garden</p>
        </li>
        <li>
            <img src="/src/images/4.jpg" alt="" />
            <p class="image-description">Tulipán, the cutest tuxedo cat</p>
        </li>
        <li>
            <img src="/src/images/5.jpg" alt="" />
            <p class="image-description">Love of my life, Amanda</p>
        </li>
        <li>
            <img src="/src/images/6.jpg" alt="" />
            <p class="image-description">My cats chilling in my room</p>
        </li>
    </ul>