---
layout: layouts/base.liquid
---

<div class="contact">
    <div>
        <h2 class="subtitle">Contact</h2>
        <p>Are you interested in collaborating? Do you have any inquiries about my illustration services? Or simply want to say hello? I thrive on connecting and collaborating with fellow creatives and businesses!</p>
        <p>Please fill out the form – I'm eager to hear from you!</p>

        <form accept-charset="UTF-8" action="https://getform.io/f/agddmwob" method="POST" enctype="multipart/form-data" target="_blank" id="wpform" class="contact-form">
            <div class="form-row">
                <label>Your name:</label>
                <div>
                    <input type="text" name="first_name" required="required">
                </div>
            </div>
            <div class="form-row">
                <label>Email address:</label>
                <div>
                    <input type="email" name="email">
                    <span class="info">Only needed if you want me to reply</span>
                </div>
            </div>
            <div class="form-row">
                <label>Your message:</label>
                <div>
                    <textarea type="text" name="message" required="required"></textarea>
                </div>
            </div>
            <input type="hidden" name="utf8" value="✓">
            <button class="submit" type="submit">Send message</button>
        </form>
    </div>
</div>