---
layout: layouts/base.liquid
---

<div class="content-wrapper">

    <h2 class="subtitle">General Product Safety Regulation & Product safety</h2>

    <p>
        The General Product Safety Regulation (GPSR) is a recent EU regulation designed to ensure the safety of consumer
        products sold in the EU market. To comply, manufacturers are required to offer clear guidance and warnings for
        their products, assess possible risks, and maintain traceability of their items.
    </p>

    <p>You can also access this information directly on the product pages when browsing through
    my <a href="https://artofcataflame.etsy.com" class="link" target="_blank"> Etsy shop</a>.</p>

    <p>All designs are original creations, made by Stefánia, the owner of Art Of Cataflame, and are
        made in Hungary. These products are not suitable for children under 3 years old.</p>

    <details>
        <summary class="category-title">Art prints</summary>
        <p>    
            <strong>Used materials</strong><br>
            Paper and ink.
        </p>
        <p>
            <strong>Risks & safety</strong><br>
            Small risk of paper cuts, flammable object.
        </p>
        <p>
            <strong>Proper use</strong><br>
            For decorative use only! Remove item carefully from the package.
        </p>
        <p>
            <strong>Risk management</strong><br>
            Use this for decorative purposes only, and handle with care. Keep away from children under 3 years old. This
            item is not a toy. Keep away from fire and other heat sources.
        </p>
    </details>

    <details>
        <summary class="category-title">Bookmarks</summary>
            <p>
                <strong>Used materials</strong><br>
                Paper, ink, matte laminating foil for durability. Some bookmarks might have a tassel attached, see product
                page for details.
            </p>

            <p>
                <strong>Risks & safety</strong><br>
                Small risk of paper cuts, flammable object, small parts may pose a choking hazard.</p>

            <p>
                <strong>Proper use</strong><br>
                Place the bookmark between book pages to track your reading progress. For decorative purposes only!
            </p>

            <p>
                <strong>Risk management</strong><br>
                Use this for decorative purposes only, and handle with care. Keep away from children under 3 years old. This
                item is not a toy. Keep away from fire and other heat sources.
            </p>
    </details>

    <details>
        <summary class="category-title">Calendars</summary>
        <p>    
            <strong>Used materials</strong><br>
            Paper, cardboard backing, ink, wire binding coil, metallic hanger.
        </p>

        <p>        
            <strong>Risks & safety</strong><br>
            Small risk of paper cuts, flammable object, small parts may pose a choking hazard.
        </p>

        <p>        
            <strong>Proper use</strong><br>
            Hang the calendar on a wall or place it on a desk. Remove item carefully from the package.
        </p>

        <p>        
            <strong>Risk management</strong><br>
            Hang the calendar on a wall or place it on a desk. Handle with care. Keep away from children under 3 years old. This
            item is not a toy. Keep away from fire and other heat sources.
        </p>
    </details>

    <details>
        <summary class="category-title">Greeting cards</summary>
        <p>    
            <strong>Used materials</strong><br>
            Paper and ink.
        </p>

        <p>        
            <strong>Risks & safety</strong><br>
            Small risk of paper cuts, flammable object. 
        </p>

        <p>        
            <strong>Proper use</strong><br>
            For decorative use only. Remove item carefully from the package. 
        </p>

        <p>        
            <strong>Risk management</strong><br>
            Use this for decorative purposes only, and handle with care. Keep away from children under 3 years old. This
            item is not a toy. Keep away from fire and other heat sources.
        </p>
    </details>

    <details>
        <summary class="category-title">Notepads</summary>
        <p>    
            <strong>Used materials</strong><br>
            Paper, ink, paper glue, cardboard backing.
        </p>

        <p>        
            <strong>Risks & safety</strong><br>
            Small risk of paper cuts, flammable object. 
        </p>

        <p>        
            <strong>Proper use</strong><br>
            Use notepads for jotting down notes, reminders, or ideas. Remove item carefully from the package. 
        </p>

        <p>        
            <strong>Risk management</strong><br>
            Use notepads for jotting down notes, reminders, or ideas. Handle with care. Keep away from children under 3 years old. This
            item is not a toy. Keep away from fire and other heat sources.
        </p>
    </details>

    <details>
        <p>
            <summary class="category-title">Stickers</summary>
            <strong>Used materials</strong><br>
            Self-adhesive sticker paper, ink, protective plastic coating.
        </p>

        <p>
            <strong>Risks & safety</strong><br>
            Small risk of paper cuts, flammable object, small parts may pose a choking hazard.
        </p>

        <p>
            <strong>Proper use</strong><br>
            For decorative use only! Remove the sticker from the backing paper and apply it to your desired surface. Not
            suitable for outdoor use, and it's not dishwasher safe. Handle the item carefully when removing from packaging.
        </p>

        <p>
            <strong>Risk management</strong><br>
            Use this for decorative purposes only, and handle with care. Keep away from children under 3 years old. This
            item is not a toy. Keep away from fire and other heat sources.
        </p>
    </details>

    <details>
        <p>
            <summary class="category-title">Sticker sheets</summary>
            <strong>Used materials</strong><br>
            Self-adhesive sticker paper, ink, some may have a protective plastic coating.
        </p>

        <p>
            <strong>Risks & safety</strong><br>
            Small risk of paper cuts, flammable object, small parts may pose a choking hazard.
        </p>

        <p>
            <strong>Proper use</strong><br>
            For decorative use only! Remove the sticker from the backing paper and apply it to your desired surface.
            Not waterproof. Handle the item carefully when removing from packaging.
        </p>

        <p>
            <strong>Risk management</strong><br>
            Use this for decorative purposes only, and handle with care. Keep away from children under 3 years old. This
            item is not a toy. Keep away from fire and other heat sources.
        </p>
    </details>

    <h2 class="subtitle has-margin">Technical and safety information for packaging</h2>

    <p>To ensure the safety of items during shipping, plastic packaging may be used. Whenever possible, paper packaging
        is utilized to minimize the environmental impact of my business.</p>

    <p>The materials I use for packing may vary over time, but this could include, but not limited to:</p>

    <ul class="list">
        <li>Plastic bubble wrap: choking hazard, flammable object.</li>
        <li>Paper wrapping material: risk of paper cuts, flammable object. </li>
        <li>Washi-tape: choking hazard, flammable object.</li>
        <li>Cardboard sheets to prevent prints from bending: risk of paper cuts, flammable object.</li>
        <li>Freebies included with your order, such as stickers, and mini art prints: risk of paper cuts, flammable object, choking hazard.</li>
    </ul>

    <p>
        If you have any questions, feedback, or inquiries about any of the items, please don't hesitate to reach out using
        the form in the Contact menu. If an issue is found with a batch or line of products, I will take note and remove
        the affected items from sale immediately. In such cases, you are welcome to contact me directly at the form.
    </p>
</div>