<div class="portfolio">
    {% for image in portfolioImages %}
    <a href="{{ image.src }}" class="portfolio-link">
        {% image image.src, image.name, [300] %}
    </a>
    {% endfor %}
</div>

<div id="lightbox" class="lightbox">
    <button id="lightbox-close" class="lightbox-close" aria-label="Close">&times;</button>
    <img id="lightbox-img" src="" alt="" />
</div>
