---
baseURL: https://artofcatafla.me
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Art of Cataflame</title>

        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="icon" type="image/png" sizes="16x16" href="/src/images/favicon.png">
        <meta name="author" content="Stefánia Péter"/>
        <meta name="description" content="Art of Stefánia Péter"/>

        <!-- Twitter -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@Stefi_Sparkles">
        <meta name="twitter:creator" content="@Stefi_Sparkles">
        <meta name="twitter:title" content="Art of Stefánia Péter">
        <meta name="twitter:description" content="Freelance artist">
        <meta name="twitter:image" content="{{baseURL}}/src/images/social.png">

        <!-- Open Graph -->
        <meta property="og:title" content="Art of Stefánia Péter">
        <meta property="og:description" content="Freelance artist">
        <meta property="og:image" content="{{baseURL}}/src/images/social.png">
        <meta property="og:url" content="https://stefaniesparkles.art">
        <meta property="og:site_name" content="Art of Stefánia Péter">
        <meta property="og:locale" content="en_GB">
        <meta property="og:type" content="website">
        
        <link rel="stylesheet" href="/src/css/main.css">
        <script src="https://kit.fontawesome.com/cd9ec28620.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

        <meta name="p:domain_verify" content="b473502d4d1cfade71cff4cc48d7c0b6"/>
    </head>
    <body>
        <header class="site-header" id="siteHeader">
            <div class="about">
                <a class="intro" href="/">
                    <img class="photo" src="/src/images/cataflame_logo.png" alt="Logo of Cataflame" />
                </a>
                
                <p class="description">Stefánia Péter is an illustrator from Hungary.</p>

                <nav class="navigation">
                    <ul>
                        <li><a href="/" class="{% if page.url == '/' %}active{% endif %}">Illustrations</a></li>
                        <li><a href="/about" class="{% if page.url == '/about/' %}active{% endif %}">About</a></li>
                        <li><a href="/contact" class="{% if page.url == '/contact/' %}active{% endif %}">Contact</a></li>
                        <li><a href="https://shop.artofcatafla.me" target="_blank">Shop ⇾</a></li>
                    </ul>
                </nav>
            </div>

            <div class="social">
                <a href="https://www.instagram.com/stefanie.sparkles/" target="_blank" class="button" title="Instagram profile">
                    <i class="fa-brands fa-instagram"></i>
                </a>

                <a href="https://www.threads.net/@stefanie.sparkles" target="_blank" class="button" title="Threads profile">
                    <i class="fa-brands fa-threads"></i>
                </a>

                <a href="https://www.pinterest.com/stefaniesparkles/" target="_blank" class="button" title="Pinterest profile">
                    <i class="fa-brands fa-pinterest-p"></i>
                </a>

                <a href="https://bsky.app/profile/stefanie-sparkles.bsky.social" target="_blank" class="button" title="Bluesky profile">
                    <i class="fa-brands fa-bluesky"></i>
                </a>
            </div>
            
            <button class="menu-toggle" id="menuToggle">
                <i class="fas fa-bars" id="menuIcon"></i>
            </button>
        </header>

        <main>
            {{ content }}
        </main>

        <script src="/src/js/main.js"></script>
    </body>
</html>